# OpenRouter API Configuration
OPENROUTER_API_KEY=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
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
TONGYI_MODEL=alibaba/tongyi-deepresearch-30b-a3b

# Brave Search API
BRAVE_SEARCH_API_KEY=BSAo95E3qQgUFsySS2pdjl-tV0cCp5r

# Jina Reader API
JINA_READER_API_KEY=jina_65d02b30bd3d4c66b5615347528a27f3HoFTTodaWOEZGfMGmaf5K7SS6Eij
